<div class="row">
  <!-- Company Chart Start-->
  <div class="col-md-6 col-xl-4">
    <app-card [blockClass]="'card-body-big card-visitor-block'">
      <div class="row">
        <div class="col-sm-8  card-visitor-button">
          <button class="btn btn-primary btn-icon"><i class="icofont icofont icofont-hour-glass" [routerLink]="['/admin/pendingcompany']"></i></button>
          <div class="card-contain">
            <h6>{{pendingCompany}}</h6>
            <p class="text-muted f-18 m-0">Pending Company</p>
          </div>
        </div>
        <div class="col-sm-4 hidden-xs-down text-center">
          <span class="visitor-chart"></span>
        </div>
      </div>
    </app-card>
  </div>
  <div class="col-md-12 col-xl-4">
    <app-card [blockClass]="'card-body-big card-visitor-block'">
      <div class="row">
        <div class="col-sm-8 card-visitor-button">
          <button class="btn btn-success btn-icon"><i class="icofont icofont-thumbs-up" [routerLink]="['/admin/approvedcompany']"></i></button>
          <div class="card-contain">
            <h6>{{approvedCompany}}</h6>
            <p class="text-muted f-18 m-0">Approved Company</p>
          </div>
        </div>
        <div class="col-sm-4 hidden-xs-down text-center">
          <span class="resource-barchart"></span>
        </div>
      </div>
    </app-card>
  </div>
  <div class="col-md-6 col-xl-4">
    <app-card [blockClass]="'card-body-big card-visitor-block'">
      <div class="row">
        <div class="col-sm-8 card-visitor-button">
          <button class="btn btn-danger btn-icon"><i class="icofont icofont-thumbs-down" [routerLink]="['/admin/rejectedcompany']"></i></button>
          <div class="card-contain">
            <h6>{{rejectedCompany}}</h6>
            <p class="text-muted f-18 m-0">Rejected Company</p>
          </div>
        </div>
        <div class="col-sm-4 hidden-xs-down text-center">
          <span class="sale-chart"></span>
        </div>
      </div>
    </app-card>
  </div>
  <!-- Company Chart End-->

  <!-- facebook Start -->
  <div class="col-md-12 col-xl-8">
    <div class="card">
      <div class="card-body">
        <h5>Combo Chart</h5>
      </div>
      <div class="card-body">
        
      </div>
    </div>
  </div>

  <!-- Start-->
  <div class="col-md-12 col-xl-4">
    <div class="user-card-body card">
      <div class="card-body">
        <div class="top-card text-center">
          <img src="assets/images/widget/user1.png" class="img-responsive" alt="">
        </div>
        <div class="card-contain text-center p-t-40">
          <h5 class="text-capitalize p-b-10">Gregory Johnes</h5>
          <p class="text-muted">Califonia, USA</p>
        </div>
        <div class="card-data">
          <div class="row">
            <div class="col-3 b-r-default text-center">
              <p class="text-muted">Followers</p>
              <span>345</span>
            </div>
            <div class="col-3 b-r-default text-center">
              <p class="text-muted">Following</p>
              <span>40</span>
            </div>
            <div class="col-3 b-r-default text-center">
              <p class="text-muted">Questions</p>
              <span>12</span>
            </div>
            <div class="col-3 text-center">
              <p class="text-muted">Answers</p>
              <span>40</span>
            </div>
          </div>
        </div>
        <div class="card-button p-t-50">
          <div class="row">
            <div class="col-6 text-right">
              <button class="btn btn-primary btn-round">Follow</button>
            </div>
            <div class="col-6 text-left">
              <button class="btn btn-success btn-round">Message</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End-->

  <!-- Total Sale Start -->
  <div class="col-md-12 col-lg-4">
    <div class="card">
      <div class="card-body">
        <h5>Total Sales</h5>
      </div>
      <div class="card-body">
        
      </div>
    </div>
  </div>
  <!-- Total Sale Start -->

  <!-- Product table Start -->
  <div class="col-md-12 col-lg-8">
    <div class="card">
      <div class="card-body">
        <h5>Product Detail</h5>
      </div>      
    </div>
  </div>
  <!-- Product table End -->

  <!-- facebook Start -->
  <div class="col-md-12 col-xl-8">
    <div class="row">
      <div class="col-sm-12">
        <div class="news-card m-b-30 color-success card-body">
          <h6>Awesome News Title</h6>          
        </div>
      </div>
      <div class="col-sm-12">
                
      </div>
    </div>
  </div>
  <!-- facebook End -->
  <!-- Start-->
  <div class="col-md-12 col-xl-4">
    <!-- Overdue Task Start-->
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body-big card-status">
            <h5>Income Status</h5>
            <div class="card-body text-center">
              <h2 class="text-primary">$4,612</h2>
            </div>
            <div class="row">
              <div class="col-6">
                <p class="f-16 text-muted m-0">Totale Income : $4,679</p>
              </div>
              <div class="col-6">
                <div class="text-muted f-16 text-right">
                  <span>20.56%</span>
                  <i class="icofont icofont-caret-up text-success"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="card">
          <div class="card-body-big card-status">
            <h5>Sale Status</h5>
            <div class="card-body text-center">
              <h2 class="text-warning">425</h2>
            </div>
            <div class="row">
              <div class="col-6">
                <p class="f-16 text-muted m-0">Totale Income : 3,712</p>
              </div>
              <div class="col-6">
                <div class="text-muted f-16 text-right">
                  <span>20.56%</span>
                  <i class="icofont icofont-caret-down text-primary"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End-->

  <!-- Reset Order Start -->
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <h5>Reset Order</h5>
      </div>
      <div class="card-body reset-table p-t-0">
        <div class="table-responsive">
          <table class="table">
            <thead>
            <tr class="text-uppercase">
              <th>Image</th>
              <th>Product Name</th>
              <th>Product Code</th>
              <th>Status</th>
              <th>Purchased on</th>
              <th>Price</th>
              <th>Quantity</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td><a href="javascript:;"><img class="img-responsive" src="assets/images/widget/prod1.jpg" alt="chat-user"></a>
              </td>
              <td>Leisure Suit Casual</td>
              <td>3BSD59</td>
              <td><button type="button" class="btn btn-success btn-round">Pending</button></td>
              <td>27 Sep 2015</td>
              <td>$99.00</td>
              <td>2</td>
            </tr>
            <tr>
              <td><a href="javascript:;"><img class="img-responsive" src="assets/images/widget/prod4.jpg" alt="chat-user"></a>
              </td>
              <td>Leisure Suit Casual</td>
              <td>3BSD59</td>
              <td><button type="button" class="btn btn-primary btn-round">Process</button></td>
              <td>27 Sep 2015</td>
              <td>$99.00</td>
              <td>2</td>
            </tr>
            <tr>
              <td><a href="javascript:;"><img class="img-responsive" src="assets/images/widget/prod2.jpg" alt="chat-user"></a>
              </td>
              <td>Leisure Suit Casual</td>
              <td>3BSD59</td>
              <td><button type="button" class="btn btn-warning btn-round">Failed</button></td>
              <td>27 Sep 2015</td>
              <td>$99.00</td>
              <td>2</td>
            </tr>
            <tr>
              <td><a href="javascript:;"><img class="img-responsive" src="assets/images/widget/prod3.jpg" alt="chat-user"></a>
              </td>
              <td>Leisure Suit Casual</td>
              <td>3BSD59</td>
              <td><button type="button" class="btn btn-primary btn-round">Process</button></td>
              <td>27 Sep 2015</td>
              <td>$99.00</td>
              <td>2</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- Reset Order End -->
</div>
